{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success{% else %}danger{% endif %}"
                 role="alert">
                {{ message }}
                <h5 class="m-0">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <a href="{% url 'user-cart' %}">Перейти в корзину</a> или
                        <a href="{% url 'main-page' %}">Продолжить покупки</a>
                    {% endif %}
                </h5>
            </div>
        {% endfor %}
    {% endif %}
    <div class="col-sm mb-4">
        <div class="card" style="width: 50%;">
            <div class="card-body">
                <h4 class="text-info mb-4">{{ product.name }}</h4>
                <div class="row mb-4">
                    <div class="col-sm">Цена</div>
                    <div class="col-sm">{{ product.price|floatformat }} рублей за штуку</div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm">Описание</div>
                    <div class="col-sm">{{ product.description }}</div>
                </div>
                <form method="post">{% csrf_token %}
                    {% for field in form %}
                        <div class="row mb-4">
                            <div class="col-sm">
                                {{ field.label }}
                            </div>
                            <div class="col-sm">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                        <input type="submit" class="btn btn-success" value="Добавить в корзину">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

