{% extends 'base.html' %}
{% block content %}
<div class="row">
  {% for product in products %}
    <div class="col-sm mb-4">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-info">{{ product.name }}</h5>
            <p class="card-text text-muted">{{ product.description }}</p>
              <p class="card-text">Цена: {{ product.price }}</p>
              <p class="card-text">Количество на складе: {{ product.quantity }}</p>
            <a href="#" class="btn btn-primary">Заказать</a>
          </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

