global
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	mode	http
	option	httplog
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    default-server init-addr none

resolvers dns
	parse-resolv-conf
	resolve_retries 3
  	timeout retry 1s
	hold valid 1s
	hold other 1s
  	hold refused 1s
  	hold nx 1s
  	hold timeout 1s

backend api_common
	option forwardfor
	balance roundrobin
	server shop-01 django-shop_shop_1:80 resolvers dns resolve-prefer ipv4 check inter 1000

frontend tms
	bind *:80
	default_backend api_common
